
<footer>
    <div class="cartFooter">
        <div class="row">
            <div class="col-12 col-sm-1 col-md-1 col-lg-1">
                &nbsp;
            </div>
            <div class="col-12 col-sm-5 col-md-5 col-lg-5">
                <h1 class="title" style="color:white!important;text-align: left!important;">Shopify</h1>
                <p class="cartFooterNote">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Auctor libero id et, in gravida. Sit diam duis mauris nulla cursus.
                    Erat et lectus vel ut sollicitudin elit at amet.
                </p>
            </div>
            <div class="col-12 col-sm-5 col-md-5 col-lg-5">
                <h1 class="title" style="color:white!important;text-align: left!important;">&nbsp;</h1>
                <p class="cartFooterNote">
                    <a href="/home" class="w3-hover-text-white" style="color:inherit!important;">Home</a>
                </p>
                <p class="cartFooterNote">
                    <a href="#" class="w3-hover-text-white" style="color:inherit!important;">About Us</a>
                </p>
                <p class="cartFooterNote">
                    <a href="#" class="w3-hover-text-white" style="color:inherit!important;">Contact Us</a>
                </p>
            </div>
        </div>
    </div>


</footer>
<script src="/public/js/main.js"></script>
</body>
</html>